{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Create RFQ{% endblock %}

{% block content %}


<div class='row'>
    <div class='col'>
        
        <form action="" method="POST">
            {% csrf_token %}
            
            <table>
            {{ form|crispy }}
            </table>

            <input type="submit" name="Submit">
        </form>
    </div>
</div>
<div class='row'>
    <div class='col'>
        <a href="{% url 'shipment_list' %}">Back to Shipments</a>
    </div>
{% endblock %}


