{% extends 'base.html'  %}

{% block title %}RFQ List{% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="column">
            <h1>RFQ List</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>RFQ Name</th>
                        <th>RFQ Description</th>
                        <th>RFQ From Port</th>
                        <th>RFQ To Port</th>
                        <th>RFQ Cargo Ready Date</th>
                        <th>RFQ Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rfq in rfq %}
                    <tr>
                        <td>{{ rfq.shipment_name }}</td>
                        <td>{{ rfq.shipment_description }}</td>
                        <td>{{ rfq.shipment_origin }}</td>
                        <td>{{ rfq.shipment_destination }}</td>
                        <td>{{ rfq.cargo_ready_date }}</td>
                        <td>{{ rfq.shipment_status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% endblock %}