{% extends 'base.html' %}{% load static %}

{% block title %}Shipments{% endblock %}

{% block content %}

<center><h1>Shipments</h1></center>

<div class="container">
<table class="table">
    <thead>
        <tr>
            <th scope="col">Shipment No.</th>
            <th scope="col">Status</th>
            <th scope="col">Shipment Description</th>
            <th scope="col">Expected Delivery Date</th>
            <th scope="col">Port of Origin</th>
            <th scope="col">Port of Destination</th>
        </tr>
    </thead>
    
    {% for i in shipment %}
    <tbody>
        <tr class="shipment-record" data-shipment-id="{{ i.id }}">
            <td><a href="{% url 'shipment_detail_view' i.id %}">{{i.shipment_name}}</a></td>
            <td>{{i.shipment_status}}</td>
            <td>{{i.shipment_description}}</td>
            <td>{{i.expected_delivery_date}}</td>
            <td>{{i.shipment_origin}}</td>
            <td>{{i.shipment_destination}}</td>
        </tr>


    </tbody>
    {% endfor %}
</table>
</div>

{% endblock %}

