{% extends 'base.html' %}

{% block title %}Shipments{% endblock %}

{% block content %}

    
    <div class="container-max-width">
        <div class="row">
            <div class="col">
                <div class="card card-body">
                    Shipment Name: {{shipment_detailview.shipment_name}}<br>
                    Shipment Description: {{shipment_detailview.shipment_description}}
                </div>
            </div>
            <div class="col">
                <div class="card card-body">
                    Shipment Status: {{shipment_detailview.shipment_status}}<br>
                    Exptected Delivery Status: {{shipment_detailview.expected_delivery_date}}
                </div>
            </div>    
        </div>
    </div>
    


{% endblock %}